# EDA and Final Data Processing

## Problem Statement

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

#pd.set_option('max_rows',None)
#pd.set_option('max_columns',None)

## Combining the datasets

In [2]:
bpl_fifa18 = pd.read_csv('data/clean_first/bplteamstats2018_clean1.csv')
bpl_fifa19 = pd.read_csv('data/clean_first/bplteamstats2019_clean1.csv')
bpl_fifa20 = pd.read_csv('data/clean_first/bplteamstats2020_clean1.csv')
bpl_fifa21 = pd.read_csv('data/clean_first/bplteamstats2021_clean1.csv')

bpl_fixtures18 = pd.read_csv('data/clean_first/bpl2018_clean1.csv')
bpl_fixtures19 = pd.read_csv('data/clean_first/bpl2019_clean1.csv')
bpl_fixtures20 = pd.read_csv('data/clean_first/bpl2020_clean1.csv')
bpl_fixtures21 = pd.read_csv('data/clean_first/bpl2021_clean1.csv')

In [3]:
bpl_fifa18.tail(2)

,club,total_value_eur,total_wage_eur,average_age,average_height_cm,average_weight_kg,overall,potential,international_reputation,skill_moves
18,West Bromwich Albion,128550000,1060000,27.67,185.06,79.06,75.50,77.67,1.78,2.50
19,West Ham United,204200000,1646000,27.16,183.89,77.37,77.11,79.89,2.11,2.53

In [4]:
bpl_fifa19.head(2)

,club,total_value_eur,total_wage_eur,average_age,average_height_cm,average_weight_kg,overall,potential,international_reputation,skill_moves
0,Arsenal,369000000,2020000,26.50,181.11,76.22,80.44,83.67,2.56,3.00
1,Bournemouth,119000000,820000,26.38,181.12,75.25,75.44,77.94,1.12,2.81

In [5]:
bpl_fifa20.head(2)

,club,total_value_eur,total_wage_eur,average_age,average_height_cm,average_weight_kg,overall,potential,international_reputation,skill_moves
0,Arsenal,378800000,1512000,24.78,181.44,75.78,79.33,85.0,2.28,3.17
1,Aston Villa,126850000,663000,24.83,183.61,78.00,73.72,79.0,1.33,2.89

In [6]:
bpl_fifa21.head(2)

,club,total_value_eur,total_wage_eur,average_age,average_height_cm,average_weight_kg,overall,potential,international_reputation,skill_moves
0,Arsenal,285300000,1287000,25.24,182.12,76.35,78.76,83.82,1.94,3.12
1,Aston Villa,138970000,741000,24.78,183.00,74.22,73.78,78.94,1.22,3.00

In [7]:
bpl_fixtures18.head(2)

,Date,Match,Home,Away,Stadium,Attendance,Gls,Ast,PK,PKatt,...,Fld,Off,Crs,TklW,PKwon,PKcon,OG,Recov,Won,Lost
0,2017-09-09,Arsenal_vs_Bournemouth,Arsenal,Bournemouth,"Emirates Stadium, London",59262,3,3,0,0,...,9,4,14,14,0,0,0,95.0,8.0,12.0
1,2017-09-09,Arsenal_vs_Bournemouth,Bournemouth,Arsenal,"Emirates Stadium, London",59262,0,0,0,0,...,15,0,18,4,0,0,0,108.0,12.0,8.0

In [8]:
bpl_fixtures19.head(2)

,Date,Match,Home,Away,Stadium,Attendance,Gls,Ast,PK,PKatt,...,Fld,Off,Crs,TklW,PKwon,PKcon,OG,Recov,Won,Lost
0,2019-02-27,Arsenal_vs_Bournemouth,Arsenal,Bournemouth,"Emirates Stadium, London",59618,5,4,0,0,...,11,4,9,7,0,0,0,76,8,8
1,2019-02-27,Arsenal_vs_Bournemouth,Bournemouth,Arsenal,"Emirates Stadium, London",59618,1,1,0,0,...,11,4,9,12,0,0,0,74,8,8

In [9]:
bpl_fixtures20.head(2)

,Date,Match,Home,Away,Stadium,Attendance,Gls,Ast,PK,PKatt,...,Fld,Off,Crs,TklW,PKwon,PKcon,OG,Recov,Won,Lost
0,2019-09-22,Arsenal_vs_Aston_Villa,Arsenal,Aston Villa,"Emirates Stadium, London",60331,3,0,1,1,...,14,2,17,13,1.0,0.0,0,75.0,6.0,7.0
1,2019-09-22,Arsenal_vs_Aston_Villa,Aston Villa,Arsenal,"Emirates Stadium, London",60331,2,2,0,0,...,14,0,23,12,0.0,1.0,0,68.0,7.0,6.0

In [10]:
bpl_fixtures21.head(2)

,Date,Match,Home,Away,Stadium,Attendance,Gls,Ast,PK,PKatt,...,Fld,Off,Crs,TklW,PKwon,PKcon,OG,Recov,Won,Lost
0,9/12/2020,Crystal_Palace_vs_Southampton,Crystal Palace,Southampton,Selhurst Park London,0,1,1,0,0,...,11,4,9,12,0,0,0,122,30,30
1,9/12/2020,Crystal_Palace_vs_Southampton,Southampton,Crystal Palace,Selhurst Park London,0,0,0,0,0,...,16,1,9,21,0,0,0,113,30,30

In [11]:
df_list = [bpl_fixtures18,bpl_fixtures19,bpl_fixtures20,bpl_fixtures21]

In [12]:
def combine_fixtures(df_list):
    '''combine all fixtures dataframes'''
    combined_fixtures = pd.concat(df_list,axis=0,ignore_index=True)
    combined_fixtures['Date'] = pd.to_datetime(combined_fixtures['Date'])
    combined_fixtures = combined_fixtures.sort_values(['Date','Match','Home','Away'])
    
    return combined_fixtures

def average_last_5_stats(features,df):
    '''
    Description: Its picks a variable(str) and generates the 5 last games mean of this variable until the last game played.
    
    Input:
        - Variable (Str)
    Output: 
        - Last 5 games Variable Mean until the new game (Int)    
    '''
    #last_5_avg = pd.DataFrame()
    
    for f in features:
        feature = (df.groupby('Home')[f].
                   transform(lambda row: row.rolling(5, min_periods=1).
                             mean()
                             .shift(1))) # Shift the data down 1 so we don't leak data
        
        df["last_5_avrg_"+f] = feature # Add the new feature to the DataFrame

In [13]:
#Combinig all fixtures data
combined_fixtures = combine_fixtures(df_list)

As we do not have the stats for the next match as it have not been played, we will use an estimation on all statistics of the last 5 matches. Based on them, we will make predictions. 

Statistics that will be averaged are:


|No.|Stats| Description  |
|---|-----|--------------|
| 1 | Gls | Goals Scored |
| 2 | Ast |    Assists   |
| 3 | PK  |Penalty Kicks |
| 4 | PKatt |Penalty Kicks Attempted|
| 5 | Sh|Shots Total|
| 6 | SoT |Shots on Target|
| 7 | CrdY |   Yellow Card  |
| 8 | CrdR|    Red Card   |
| 9 | Touches|    Number of times the team have touched the ball   |
| 10 | Press |    Number of times the team have pressured when the ball is in the possession of the opponent  |
| 11 | Tkl |    Number of tackles |
| 12 | Int_x  |  Interceptions  |
| 13 | xG | Expected Goals  |
| 14 | npxG |    Non-penalty Expected Goals   |
| 15 | xA |    Expected Assists    |
| 16 | SCA |   Shots-Creating Actions   |
| 17 | GCA  |   Goals-Creating Actions  |
| 18 | Cmp |   Passes Completed   |
|19 | Att |Passes Attempted|
|20 | Prog |Progressive Passes|
|21 | Carries |Number of times the team controlled the ball with their feet|
|22|Prog.1|Progressive Carries, carries that move the ball towards the opponent's goals at least 5 yards, or into penalty area|
|23| Succ| Successful Dribble|
|24 | Att.1 |Dribbles Attempted|
|25 | 2CrdY |2nd Yellow Card in the game|
|26 | Fls |Fouls Committed|
|27|Fld |Fouls Drawn|
|28|Off|Offside|
|29|Crs|Crosses|
|30| TklW|Tackles Won|
|31| PKwon|Penalty Kick Won|
|32| PKcon|Penalty Kick Conceded|
|33|OG|Own Goals|
|34|Recov|Loose balls recovered|
|35| Won |Aerial balls won|
|36| Lost |Aerial balls lost|

In [14]:
col = ['Gls', 'Ast','PK', 'PKatt', 'Sh', 'SoT', 'CrdY', 'CrdR', 'Touches', 'Press', 'Tkl','Int_x', 'Blocks', 'xG', 'npxG',
       'xA', 'SCA', 'GCA', 'Cmp', 'Att','Prog', 'Carries', 'Prog.1', 'Succ', 'Att.1', '2CrdY', 'Fls', 'Fld', 'Off', 'Crs',
        'TklW', 'PKwon', 'PKcon', 'OG', 'Recov', 'Won','Lost']

#Generating last 5 match stats 
average_last_5_stats(col,combined_fixtures)

In [15]:
combined_fixtures

,Date,Match,Home,Away,Stadium,Attendance,Gls,Ast,PK,PKatt,...,last_5_avrg_Fld,last_5_avrg_Off,last_5_avrg_Crs,last_5_avrg_TklW,last_5_avrg_PKwon,last_5_avrg_PKcon,last_5_avrg_OG,last_5_avrg_Recov,last_5_avrg_Won,last_5_avrg_Lost
14,2017-08-11,Arsenal_vs_Leicester_City,Arsenal,Leicester City,"Emirates Stadium, London",59387,4,4,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2017-08-11,Arsenal_vs_Leicester_City,Leicester City,Arsenal,"Emirates Stadium, London",59387,3,3,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,2017-08-12,Brighton_&_Hove_Albion_vs_Manchester_City,Brighton & Hove Albion,Manchester City,"The American Express Community Stadium, Bright...",30415,0,0,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
95,2017-08-12,Brighton_&_Hove_Albion_vs_Manchester_City,Manchester City,Brighton & Hove Albion,"The American Express Community Stadium, Bright...",30415,1,1,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
159,2017-08-12,Chelsea_vs_Burnley,Burnley,Chelsea,"Stamford Bridge, London",41616,3,3,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2640,2021-01-19,West_Ham_United_vs_West_Bromwich_Albion,West Ham United,West Bromwich Albion,London Stadium London,0,2,2,0,0,...,13.4,2.6,16.6,9.2,0.0,0.0,0.0,102.0,23.6,16.6
2644,2021-01-20,Fulham_vs_Manchester_United,Fulham,Manchester United,Craven Cottage London,0,0,0,0,0,...,11.4,1.2,9.6,12.0,0.0,0.0,0.0,101.4,21.6,17.6
2645,2021-01-20,Fulham_vs_Manchester_United,Manchester United,Fulham,Craven Cottage London,0,0,0,0,0,...,14.8,3.8,11.4,9.8,0.2,0.0,0.2,82.8,16.8,12.6
2643,2021-01-20,Manchester_City_vs_Aston_Villa,Aston Villa,Manchester City,Etihad Stadium Manchester,0,0,0,0,0,...,21.2,1.8,17.0,10.2,0.2,0.2,0.0,92.8,26.8,22.2
2642,2021-01-20,Manchester_City_vs_Aston_Villa,Manchester City,Aston Villa,Etihad Stadium Manchester,0,0,0,0,0,...,11.8,1.2,9.6,10.6,0.2,0.0,0.0,83.8,12.8,11.4

In [16]:
def combine_home_away(df):
    away = df.iloc[1::2]
    home = df.iloc[::2]
    combined_1 = pd.merge(home,away,how='outer',on = ['Date','Match'],)
    
    combined_2 = combined_1.sort_values('Date')
    combined_2.columns = map(str.lower, combined_2.columns)
    combined_2.drop(columns=['away_y','away_x','attendance_y','stadium_y'],inplace= True)

    return combined_2

In [17]:
test2 = combined_fixtures.sort_index(axis=0)
test2.head()

,Date,Match,Home,Away,Stadium,Attendance,Gls,Ast,PK,PKatt,...,last_5_avrg_Fld,last_5_avrg_Off,last_5_avrg_Crs,last_5_avrg_TklW,last_5_avrg_PKwon,last_5_avrg_PKcon,last_5_avrg_OG,last_5_avrg_Recov,last_5_avrg_Won,last_5_avrg_Lost
0,2017-09-09,Arsenal_vs_Bournemouth,Arsenal,Bournemouth,"Emirates Stadium, London",59262,3,3,0,0,...,9.666667,4.333333,13.000000,7.666667,0.0,0.0,0.0,102.666667,8.000000,7.000000
1,2017-09-09,Arsenal_vs_Bournemouth,Bournemouth,Arsenal,"Emirates Stadium, London",59262,0,0,0,0,...,16.333333,0.333333,15.666667,8.666667,0.0,0.0,0.0,101.000000,8.666667,16.333333
2,2017-10-01,Arsenal_vs_Brighton_&_Hove_Albion,Arsenal,Brighton & Hove Albion,"Emirates Stadium, London",59378,2,1,0,0,...,11.200000,3.000000,11.600000,8.000000,0.2,0.0,0.0,98.000000,8.200000,8.600000
3,2017-10-01,Arsenal_vs_Brighton_&_Hove_Albion,Brighton & Hove Albion,Arsenal,"Emirates Stadium, London",59378,0,0,0,0,...,7.000000,2.000000,12.200000,12.200000,0.0,0.0,0.0,96.800000,16.800000,14.600000
4,2018-05-06,Arsenal_vs_Burnley,Arsenal,Burnley,"Emirates Stadium, London",59540,5,5,0,0,...,11.600000,1.600000,11.600000,8.800000,0.4,0.0,0.0,101.000000,7.200000,7.200000

In [18]:
test3 = combine_home_away(test2)
test3.shape

(1323, 154)

In [19]:
test3 = test3.sort_values('date')

In [20]:
#all features
new_features =  {'home_x':'home','gls_x':'h_gls','ast_x':'h_ast', 'pk_x':'h_pk',
'pkatt_x':'h_pkatt', 'sh_x':'h_sh','sot_x':'h_sot', 'crdy_x':'h_yellow', '2crdy_x' : 'h_yellow2',
'crdr_x':'h_red', 'crs_x':'h_crs', 'touches_x':'h_touches','press_x':'h_press','tkl_x':'h_tkl','int_x_x':'h_int',
'blocks_x':'h_blk','xg_x':'h_xg','npxg_x':'h_npxg','xa_x':'h_xa','sca_x':'h_sca','gca_x':'h_gca',
'cmp_x':'h_cmp','att_x':'h_pass_att','prog_x':'h_pass_prog','carries_x':'h_carries','prog.1_x':'h_carries_prog',
'succ_x':'h_dri_succ','att.1_x':'h_dri_att','fls_x':'h_fls','fld_x':'h_fld','off_x':'h_off', 'crs_x':'h_crs',
'tklw_x':'h_tklw', 'pkwon_x':'h_pkwon', 'pkcon_x' : 'h_pkcon','og_x':'h_og','recov_x':'h_recov','won_x':'h_aer_won',
'lost_x':'h_aer_lost', 'last_5_avrg_gls_x':'h_last_5_avrg_gls','last_5_avrg_ast_x':'h_last_5_avrg_ast',
'last_5_avrg_pk_x':'h_last_5_avrg_pk','last_5_avrg_pkatt_x':'h_last_5_avrg_pkatt','last_5_avrg_sh_x':'h_last_5_avrg_sh',
'last_5_avrg_sot_x': 'h_last_5_avrg_sot','last_5_avrg_crdy_x':'h_last_5_avrg_yellow','last_5_avrg_crdr_x':'h_last_5_avrg_red',
'last_5_avrg_touches_x':'h_last_5_touches','last_5_avrg_press_x':'h_last_5_avrg_press','last_5_avrg_tkl_x':'h_last_5_avrg_tkl',
'last_5_avrg_int_x_x':'h_last_5_avrg_int','last_5_avrg_blocks_x':'h_last_5_avrg_blk','last_5_avrg_xg_x':'h_last_5_avrg_xg',
'last_5_avrg_npxg_x':'h_last_5_avrg_npxg','last_5_avrg_xa_x':'h_last_5_avrg_xa','last_5_avrg_sca_x':'h_last_5_avrg_sca',
'last_5_avrg_gca_x':'h_last_5_avrg_gca','last_5_avrg_cmp_x':'h_last_5_avrg_cmp','last_5_avrg_att_x':'h_last_5_avrg_pass_att',
'last_5_avrg_prog_x':'h_last_5_avrg_pass_prog','last_5_avrg_carries_x':'h_last_5_avrg_carries','last_5_avrg_prog.1_x':'h_last_5_avrg_carries_prog',
'last_5_avrg_succ_x':'h_last_5_avrg_dri_succ','last_5_avrg_att.1_x':'h_last_5_avrg_dri_att','last_5_avrg_2crdy_x':'h_last_5_avrg_yellow2',
'last_5_avrg_fls_x':'h_last_5_avrg_fls','last_5_avrg_fld_x':'h_last_5_avrg_fld','last_5_avrg_off_x':'h_last_5_avrg_off',
'last_5_avrg_crs_x':'h_last_5_avrg_crs','last_5_avrg_tklw_x':'h_last_5_avrg_tklw','last_5_avrg_pkwon_x':'h_last_5_avrg_pkwon',
'last_5_avrg_pkcon_x':'h_last_5_avrg_pkcon', 'last_5_avrg_og_x': 'h_last_5_avrg_og', 'last_5_avrg_recov_x':'h_last_5_avrg_recov',
'last_5_avrg_won_x':'h_last_5_avrg_aer_won','last_5_avrg_lost_x':'h_last_5_avrg_aer_lost',
#away features
'home_y':'away','gls_y':'a_gls','ast_y':'a_ast', 'pk_y':'a_pk','pkatt_y':'a_pkatt','sh_y':'a_sh', 
'sot_y':'a_sot','crdy_y':'a_yellow', '2crdy_y' : 'a_yellow2','crdr_y':'a_red', 'crs_y':'a_crs', 'touches_y':'a_touches',
'press_y':'a_press','tkl_y':'a_tkl','int_x_y':'a_int','blocks_y':'a_blk','xg_y':'a_xg','npxg_y':'a_npxg','xa_y':'a_xa',
'sca_y':'a_sca','gca_y':'a_gca', 'cmp_y':'a_cmp','att_y':'a_pass_att','prog_y':'a_pass_prog','carries_y':'a_carries',
'prog.1_y':'a_carries_prog','succ_y':'a_dri_succ','att.1_y':'a_dri_att','fls_y':'a_fls','fld_y':'a_fld','off_y':'a_off', 
'crs_y':'a_crs','tklw_y':'a_tklw', 'pkwon_y':'a_pwon', 'pkcon_y' : 'a_pkcon','og_y':'a_og','recov_y':'a_recov','won_y':'a_aer_won',
'lost_y':'a_aer_lost','attendance_x':'attendance','stadium_x':'stadium','last_5_avrg_gls_y':'a_last_5_avrg_gls',
'last_5_avrg_ast_y':'a_last_5_avrg_ast', 'last_5_avrg_pk_y':'a_last_5_avrg_pk','last_5_avrg_pkatt_y':'a_last_5_avrg_pkatt',
'last_5_avrg_sh_y':'a_last_5_avrg_sh', 'last_5_avrg_sot_y': 'a_last_5_avrg_sot','last_5_avrg_crdy_y':'a_last_5_avrg_yellow',
'last_5_avrg_crdr_y':'a_last_5_avrg_red','last_5_avrg_touches_y':'a_last_5_touches','last_5_avrg_press_y':'a_last_5_avrg_press',
'last_5_avrg_tkl_y':'a_last_5_avrg_tkl','last_5_avrg_int_x_y':'a_last_5_avrg_int','last_5_avrg_blocks_y':'a_last_5_avrg_blk',
'last_5_avrg_xg_y':'a_last_5_avrg_xg','last_5_avrg_npxg_y':'a_last_5_avrg_npxg','last_5_avrg_xa_y':'a_last_5_avrg_xa','last_5_avrg_sca_y':'a_last_5_avrg_sca',       
'last_5_avrg_gca_y':'a_last_5_avrg_gca', 'last_5_avrg_cmp_y':'a_last_5_avrg_cmp','last_5_avrg_att_y':'a_last_5_avrg_pass_att',
'last_5_avrg_prog_y':'a_last_5_avrg_pass_prog','last_5_avrg_carries_y':'a_last_5_avrg_carries','last_5_avrg_prog.1_y':'a_last_5_avrg_carries_prog',
'last_5_avrg_succ_y':'a_last_5_avrg_dri_succ','last_5_avrg_att.1_y':'a_last_5_avrg_dri_att','last_5_avrg_2crdy_y':'a_last_5_avrg_yellow2',
'last_5_avrg_fls_y':'a_last_5_avrg_fls','last_5_avrg_fld_y':'a_last_5_avrg_fld','last_5_avrg_off_y':'a_last_5_avrg_off',
'last_5_avrg_crs_y':'a_last_5_avrg_crs','last_5_avrg_tklw_y':'a_last_5_avrg_tklw','last_5_avrg_pkwon_y':'a_last_5_avrg_pkwon',
'last_5_avrg_pkcon_y':'a_last_5_avrg_pkcon', 'last_5_avrg_og_y': 'a_last_5_avrg_og', 'last_5_avrg_recov_y':'a_last_5_avrg_recov',
'last_5_avrg_won_y':'a_last_5_avrg_aer_won','last_5_avrg_lost_y':'a_last_5_avrg_aer_lost'}

test3.rename(new_features,axis='columns',inplace=True)

In [21]:
def add_result(df):
    '''Add result class into df'''
    result=[]
    for i in df['match']:
        i = str(i)
        match = df.loc[df["match"]==i]

        for a in list(match.index):
            if match.loc[a]['h_gls'] + match.loc[a]['a_og'] > match.loc[a]['a_gls'] + match.loc[a]['h_og']:
                #test3[test3.index == a]['result'] = 0
                df.loc[a,'result'] = 0
            elif match.loc[a]['h_gls'] + match.loc[a]['a_og'] < match.loc[a]['a_gls'] + match.loc[a]['h_og']:
                #test3[test3.index == a]['result'] = 2
                df.loc[a,'result'] = 2
            else:
                #test3[test3.index == a]['result'] = 1
                df.loc[a,'result'] = 1
                
    df['result'] = df['result'].astype(int)
    df.sort_values(by='date',inplace=True,ignore_index=True)
    return df

In [22]:
test4 = add_result(test3)

In [23]:
test4.shape

(1323, 155)

In [24]:
def last5_match(team,df):
    '''Creating last five games feature for each team'''
    '''Creating points per week, 3 = win, 1 = draw, 0 = lose'''
    team_new = df.loc[(df['home'] == team) | (df['away'] == team)]
    zipped = zip(team_new['result'][:-1], team_new['home'][:-1],team_new['away'][:-1])
    last5=[]
    last = []
    last5pts = 0
    lastpts = []
    last.insert(0,'N')
    lastpts.insert(0,0)
    for r,h,a in zipped:
        if (r == 0) & (h == team):
            last5.append('W')
            last5pts = last5pts + 3
        elif (r == 0) & (h != team): 
            last5.append('L')
            last5pts = last5pts + 0
        elif (r == 2) & (a == team):
            last5.append('W')
            last5pts = last5pts + 3
        elif (r == 2) & (a != team):
            last5.append('L')
            last5pts = last5pts + 0
        else:
            last5.append('D')
            last5pts = last5pts + 1
        
        
        last6 = (''.join(last5[-5:]))
        #print(last6)
        last.append(last6)
        lastpts.append(last5pts)
        #print(last[-1])  
    #return last
    #result = pd.DataFrame(np.array(last))
    for n,l,p in zip(list(team_new.index),last,lastpts):
        if df.iloc[n]['home'] == team:
            df.loc[n,'h_last5match'] = l
            df.loc[n,'h_accumulatpts'] = p
        else:
            df.loc[n,'a_last5match'] = l
            df.loc[n,'a_accumulatpts'] = p

In [25]:
unique_teams = test4['home'].unique()
unique_teams

array(['Arsenal', 'Crystal Palace', 'Chelsea', 'Brighton & Hove Albion',
       'West Bromwich Albion', 'Everton', 'Watford', 'Southampton',
       'Manchester United', 'Newcastle United', 'Swansea City',
       'Stoke City', 'Burnley', 'Bournemouth', 'Leicester City',
       'Liverpool', 'Huddersfield Town', 'Tottenham Hotspur',
       'Manchester City', 'West Ham United', 'Wolverhampton Wanderers',
       'Fulham', 'Cardiff City', 'Norwich City', 'Aston Villa',
       'Sheffield United', 'Leeds United'], dtype=object)

In [26]:
for team in unique_teams:
    last5_match(team,test4)

In [27]:
def match_goals(df):
    #df['h_total_gls'] = 0
    #df['a_total_gls'] = 0
    h_list = []
    a_list = []
    
    for m in list(df.index):
    
        hg = int(df.iloc[m]['h_gls']) + int(df.iloc[m]['a_og'])
        ag = int(df.iloc[m]['a_gls']) + int(df.iloc[m]['h_og'])
    
        h_list.append(hg)
        a_list.append(ag)
    
    h_list = pd.DataFrame(h_list)
    a_list = pd.DataFrame(a_list)

    df["h_total_goals"] = h_list
    df["a_total_goals"] = a_list
    df['total_goals'] = df['h_total_goals'] + df['a_total_goals']
    

    
def matchtilldate(team,df):
    team_new = df.loc[(df['home'] == team) | (df['away'] == team)]
    zipped = zip(team_new['result'][:-1], team_new['home'][:-1],team_new['away'][:-1],team_new['h_gls'][:-1],
                 team_new['a_gls'][:-1],team_new['h_og'][:-1],team_new['a_og'][:-1])

    lastmatchplayed = []
    lastgoalsscored = []
    lastgoalsconceded = []
    lastmatchwon = []
    lastmatchlost = []
    lastmatchdrawn = []
    
    matchplayed = 0
    goalsscored = 0
    goalsconceded = 0
    matchwon = 0
    matchlost = 0
    matchdrawn = 0

    lastmatchplayed.insert(0,0)
    lastgoalsscored.insert(0,0)
    lastgoalsconceded.insert(0,0)
    lastmatchwon.insert(0,0)
    lastmatchlost.insert(0,0)
    lastmatchdrawn.insert(0,0)

    for r,h,a,hg,ag,ho,ao in zipped:
        if (r == 0) & (h == team):
            goalsscored = goalsscored + hg + ao
            goalsconceded = goalsconceded + ag + ho
            matchwon = matchwon + 1
            matchplayed = matchplayed + 1
        
        elif (r == 0) & (h != team): 
            matchlost = matchlost + 1
            goalsscored = goalsscored + ag + ho
            goalsconceded = goalsconceded + hg + ao
            matchplayed = matchplayed + 1
        
        elif (r == 2) & (a == team):
            matchwon = matchwon + 1
            goalsscored = goalsscored + ag + ho
            goalsconceded = goalsconceded + hg + ao
            matchplayed = matchplayed + 1
        
        elif (r == 2) & (a != team):
            matchlost = matchlost + 1
            goalsscored = goalsscored + hg + ao
            goalsconceded = goalsconceded + ag + ho
            matchplayed = matchplayed + 1
        elif (r == 1) & (h == team):
            matchplayed = matchplayed + 1
            matchdrawn = matchdrawn + 1
            goalsscored = goalsscored  + hg + ao
            goalsconceded = goalsconceded + ag + ho
        else:
            matchplayed = matchplayed + 1
            matchdrawn = matchdrawn + 1
            goalsscored = goalsscored  + ag + ho
            goalsconceded = goalsconceded + hg + ao
        
        lastmatchplayed.append(matchplayed)
        lastgoalsscored.append(goalsscored)
        lastgoalsconceded.append(goalsconceded)
        lastmatchwon.append(matchwon)
        lastmatchlost.append(matchlost)
        lastmatchdrawn.append(matchdrawn)
        
        #last6 = (''.join(last5[-5:]))
        #print(last6)
        #last.append(last6)
        #lastpts.append(last5pts)
        #print(last[-1])  
        #return last
        #result = pd.DataFrame(np.array(last))
        for t,p,w,l,d,s,c in zip(list(team_new.index),lastmatchplayed,lastmatchwon,lastmatchlost,lastmatchdrawn,lastgoalsscored,lastgoalsconceded):
            if df.iloc[t]['home'] == team:
                df.loc[t,'h_matchplayed'] = p
                df.loc[t,'h_matchwon'] = w
                df.loc[t,'h_matchlost'] = l
                df.loc[t,'h_matchdrawn'] = d
                df.loc[t,'h_goalsscored'] = s
                df.loc[t,'h_goalsconceded'] = c
            else:
                df.loc[t,'a_matchplayed'] = p
                df.loc[t,'a_matchwon'] = w
                df.loc[t,'a_matchlost'] = l
                df.loc[t,'a_matchdrawn'] = d
                df.loc[t,'a_goalsscored'] = s
                df.loc[t,'a_goalsconceded'] = c

In [28]:
match_goals(test4)

In [29]:
for team in unique_teams:
    matchtilldate(team,test4)

In [30]:
test4.shape

(1323, 174)

In [31]:
test4['date'] = pd.to_datetime(test4['date'])

In [32]:
def combine_fixtures_fifa_data(date1,date2,fifa_df,fixtures_data):
    fixtures = fixtures_data.loc[(fixtures_data['date']>date1)&(fixtures_data['date']<=date2)]
    home = list(fixtures.home)
    away = list(fixtures.away)
    
    homestats = pd.DataFrame()
    for i in home:
        hs = fifa_df.loc[fifa_df['club'] == i]
        homestats = homestats.append(hs)
        
    awaystats = pd.DataFrame()
    for i in away:
        ast = fifa_df.loc[fifa_df['club'] == i]
        awaystats = awaystats.append(ast)
        
    fixtures_test = pd.merge(fixtures.reset_index(drop=True),homestats.reset_index(drop=True),left_index=True,right_index=True)
    fixtures_final = pd.merge(fixtures_test.reset_index(drop=True),awaystats.reset_index(drop=True),left_index=True,right_index=True)
    
    return fixtures_final

In [33]:
test4.drop_duplicates(inplace=True)
test4.shape

(1323, 174)

In [34]:
test4.head()

,date,match,home,stadium,attendance,h_gls,h_ast,h_pk,h_pkatt,h_sh,...,h_matchlost,h_matchdrawn,h_goalsscored,h_goalsconceded,a_matchplayed,a_matchwon,a_matchlost,a_matchdrawn,a_goalsscored,a_goalsconceded
0,2017-08-11,Arsenal_vs_Leicester_City,Arsenal,"Emirates Stadium, London",59387,4,4,0,0,28,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2017-08-12,Crystal_Palace_vs_Huddersfield_Town,Crystal Palace,"Selhurst Park, London",25448,0,0,0,0,13,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2017-08-12,Chelsea_vs_Burnley,Chelsea,"Stamford Bridge, London",41616,2,2,0,0,18,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2017-08-12,Brighton_&_Hove_Albion_vs_Manchester_City,Brighton & Hove Albion,"The American Express Community Stadium, Bright...",30415,0,0,0,0,7,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2017-08-12,West_Bromwich_Albion_vs_Bournemouth,West Bromwich Albion,"The Hawthorns, West Bromwich",25011,1,1,0,0,17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
test5 = pd.get_dummies(data=test4, columns=['home','away'],drop_first=True)

In [ ]:
test5.columns

In [ ]:
#test_18 = combine_fixtures_fifa_data('2017-08-09','2018-05-13',bpl_fifa18,test4)
#test_18.tail()

In [ ]:
#test_18.shape

In [ ]:
#test_19 = combine_fixtures_fifa_data('2018-08-09','2019-05-13',bpl_fifa19,test4)
#test_19.tail()

In [ ]:
#test_20 = combine_fixtures_fifa_data('2019-08-08','2020-07-27',bpl_fifa20,test4)
#test_20.head()

In [ ]:
#test_21 = combine_fixtures_fifa_data('2020-09-11','2021-01-20',bpl_fifa21,test4)
#test_21.head()

In [ ]:
#test4.head(381)

In [ ]:
#combined_test = pd.concat([test_18,test_19,test_20,test_21],axis=0)

In [ ]:
#combined_test.shape

In [ ]:
#to_be_renamed = {'total_value_eur_x' : 'h_total_value_eur', 'total_wage_eur_x':'h_total_wage_eur','average_age_x':'h_average_age',
#                              'average_height_cm_x' : 'h_average_height_cm','average_weight_kg_x' : 'h_average_weight_kg','overall_x':'h_overall',
#                              'potential_x':'h_potential','international_reputation_x':'h_int_rep','skill_moves_x':'h_skill_moves',
#                              'total_value_eur_y' : 'a_total_value_eur','total_wage_eur_y':'a_total_wage_eur','average_age_y':'a_average_age',
#                              'average_height_cm_y':'a_average_height_cm','average_weight_kg_y':'a_average_weight_kg',
#                              'overall_y':'a_overall','potential_y':'a_potential','international_reputation_y':'a_int_rep',
#                              'skill_moves_y':'a_skill_moves'}
#combined_test= combined_test.rename(columns=to_be_renamed)

In [ ]:
#combined_test.drop(columns=['club_x','club_y'],inplace=True)

In [ ]:
#combined_test.to_csv('data/clean_first/combined_final.csv',index=False)